body {
    background-color:#00537f;
    display: grid;
    grid-template-rows: auto 500px auto;
    grid-template-columns:auto auto auto ;
}
nav{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    grid-column-start: 3;
}
a {
    text-decoration: none;
    display: inline;
    font-size: 10px;
    padding-top: 60px;
}
a:visited {
    color: green;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    margin: 50px;
    text-align: center;
    padding: 100px;
}
